.navigation
{
    position: absolute;
    height: 109px;
    left: 20px;
    right: 20px;
    top: 20px;
    background: #171717;
}
.navleft
{
    position: absolute;
    width: 477px;
    height: 93px;
    left: 32px;
    top: 8px;
}
.navright
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;    
    position: absolute;
    width: 561px;
    height: 36px;
    right: 32px;
    top: 36.5px;
}
.h1
{
    position: absolute;
    width: 477px;
    height: 93px;
    left: 25px;
    top: 0px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 58px;
    display: flex;
    align-items: center;
    color: #F4F4F4;        
}
.h3
{
    width: 132px;
    height: 36px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #F4F4F4;
}