h1 {
    font-family: Georgia, 'Times New Roman', Times, serif font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

h2 {
    width: 203px;
    height: 42px;
    left: 50%;
    top: 700px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

h3 {
    width: 132px;
    height: 36px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #F4F4F4;
}

p1 {
    margin-left: 25px;
    font-family: 'DM Sans';
    font-style: normal;
    color: #F4F4F4;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
}

p2 {
    margin-left: 25px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.body {
    background: #262626;
}

.navigation {
    display: flex;
    height: 109px;
    background: #171717;
    align-items: center;
}

.navleft {
    padding-left: 25px;
    align-items: center;
    width: 477px;
    height: 150px;
    justify-content: flex-start;
    display: flex;
}

.name-title{
    
}

.navright {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    justify-content: flex-end;
    flex-grow: 3;
    width: 561px;
    height: 36px;
    right: 32px;
    top: 36.5px;
}

#bio {
    margin-left: 100px;
    padding-left: 100px;
}

#bioimage {
    margin-left: 100px;
    margin-top: 200px;
    width: 250px;
    height: 250px;
    left: 228px;
    top: 0px;
    border-radius: 75px;
    filter: saturate(120%) brightness(100%) contrast(115%);
}

#case-study-title {
    text-align: center;
}

.social {
    position: absolute;
    align-items: center;
    bottom: 0px;
    left: 50%;
}

.cta {
    width: 164px;
    height: 47px;
    left: 20px;
    top: 20px;
    background: #FAFAFA;
    border-radius: 15px;
}

#alltravellogo {
    width: 340px;
    height: 136.33px;
}