.navigation
{
    position: absolute;
    height: 109px;
    left: 20px;
    right: 20px;
    top: 20px;
    background: #171717;
}
.navleft
{
    align-items: center;
    position: absolute;
    width: 477px;
    height: 150px;
    left: 32px;
}
.navright
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;    
    position: absolute;
    width: 561px;
    height: 36px;
    right: 32px;
    top: 36.5px;
}
.h1
{
    position: absolute;
    width: 477px;
    height: 93px;
    left: 25px;
    top: 0px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 58px;
    display: flex;
    align-items: center;
    color: #F4F4F4;        
}
.h2{
    position: absolute;
    width: 203px;
    height: 42px;
    left: 50%;
    top: 700px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
color: #FFFFFF;
display: flex;
align-items: center;
}
.h3
{
    width: 132px;
    height: 36px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #F4F4F4;
}
.body
{
    background: #262626;
}
.bio
{
margin-left: 100px;
padding-left: 100px;
}
.bioimage
{
margin-left: 100px;
margin-top: 200px;
width: 250px;
height: 250px;
left: 228px;
top: 0px;
border-radius: 125px;
}
.introparagraph
{
margin-left: 100px;
font-family: 'DM Sans';
font-style: normal;
color: #F4F4F4;
font-weight: 400;
font-size: 20px;
line-height: 32px;
display: flex;
align-items: center;
}
.social{
    position: absolute;
    align-items: center;
    bottom: 0px;
    left: 50%;
}
#alltravellogo{
    width: 200px;
    height: 200px;
}